@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-text-size-adjust: 100%; /* Vendor-prefixed first for WebKit compatibility */
  text-size-adjust: 100%;         /* Standard property last */
}
